body {
	background-color: black;
}

h1 {
    font-size: 32px;
    color: green;
}

h3 {
    font-size: 24px;
    color: green;
}

th {
    padding: 0;
    height: 15px;
}

th.course-header {
	font-size: 36px;
}


tr {
    font-size: 15px;
	font-weight: bold;
    height: 15px;
    line-height:15px;
    padding: 0;
}

tr.class-header {
    background-color: green;
    color: yellow;
}

tr.women {
    background-color: pink;
    height: 15px;
    line-height: 15px;
}

tr.men {
    background-color: lightblue;
    padding: 0px;
    height: 15px;
    line-height: 15px;
}

td {
    padding: 0;
}

td.class-count td.course-count {
    width: 20px;
}





